parsing of envelope when ct/pt are variable length

At the end of the `#protocol-messages` section is a description of the envelope structure as seen here:

```
OPAQUE uses an `Envelope` structure to encapsulate an encrypted `Credentials` structure.
It is encoded as follows.

~~~
struct {
  opaque nonce[32];
  opaque ct<1..2^16-1>;
  opaque auth_data<0..2^16-1>;
  opaque auth_tag<1..2^16-1>;
} Envelope;
~~~

nonce
: A unique 32-byte nonce used to protect this Envelope.

ct
: Encoding of encrypted and authenticated credential extensions list.

auth_data
: Encoding of an authenticated credential extensions list.

auth_tag
: Authentication tag protecting the contents of the envelope.
```

as an implementer of opaque (see here https://github.com/stef/libsphinx/blob/master/src/opaque.c) i wonder how to parse this structure when both fields might be of variable length. In such a case it is useful to have the lengths included in the auth_data section at known offsets of the envelope. hence i propose to move the auth_data section infront of the ct section, either at the very beginning before the nonce, or between the nonce and the ct, in both cases an instantiation of the protocol can decide to include the lengths at known offsets and will be able to parse the envelope, even if this means that these lengths are used before they are authenticated.

on another note the line `opaque auth_tag<1..2^16-1>; is confusing the rest of the document suggest that the `<>` enclosed parameter is length, however hmacs provide quite specific length tags.

> as an implementer of opaque (see here https://github.com/stef/libsphinx/blob/master/src/opaque.c) i wonder how to parse this structure when both fields might be of variable length. 

Parsing these fields should be pretty straightforward. For example, consider `ct`, which is `opaque ct<1..2^16-1>`. To parse this, first parse a 2-byte length field, and then parse the remaining bytes (of that length) as the `ct` data. (This MUST be of length at least 1, which is what the `<1..2^16-1>` denotes.)

> on another note the line opaque auth_tag<1..2^16-1>; is confusing the rest of the document suggest that the <>` enclosed parameter is length, however hmacs provide quite specific length tags.

It's true that the output of HMAC is fixed depending on the underlying hash function, but we chose to make this variable length in case clients wanted to truncate the tag to save space. (We can mark this as an open issue, because, as you hint, applications making such decisions isn't great.)

> > as an implementer of opaque (see here https://github.com/stef/libsphinx/blob/master/src/opaque.c) i wonder how to parse this structure when both fields might be of variable length.
> 
> Parsing these fields should be pretty straightforward. 

indeed it should ;)

> For example, consider `ct`, which is `opaque ct<1..2^16-1>`. To parse this, first parse a 2-byte length field,

maybe i missed this, but where is this 2-byte length field defined for ct? if it is plaintext, shouldn't it be explicitly protected by they authentication of the envelope and thus belongs in the auth_data section? does that imply there are more cleartext parts in the envelope besides the explicitly listed auth_data section? is there also a length field somewhere defined for the auth_data section?

> and then parse the remaining bytes (of that length) as the `ct` data. (This MUST be of length at least 1, which is what the `<1..2^16-1>` denotes.)
> 
> > on another note the line opaque auth_tag<1..2^16-1>; is confusing the rest of the document suggest that the <>` enclosed parameter is length, however hmacs provide quite specific length tags.
> 
> It's true that the output of HMAC is fixed depending on the underlying hash function, but we chose to make this variable length in case clients wanted to truncate the tag to save space. (We can mark this as an open issue, because, as you hint, applications making such decisions isn't great.)

i think it makes sense to just write `<Nh>` and refer to #cryptographic-protocol-and-algorithm-dependencies

> maybe i missed this, but where is this 2-byte length field defined for ct? if it is plaintext, shouldn't it be explicitly protected by they authentication of the envelope and thus belongs in the auth_data section? does that imply there are more cleartext parts in the envelope besides the explicitly listed auth_data section? is there also a length field somewhere defined for the auth_data section?

I think perhaps you're confused by the terminology. These variable-length fields are using standard TLS notation (https://tools.ietf.org/html/rfc8446#section-3.4). Quoting that document:

> Variable-length vectors are defined by specifying a subrange of legal
> lengths, inclusively, using the notation <floor..ceiling>.  When
> these are encoded, the actual length precedes the vector's contents
> in the byte stream.

oh. maybe it makes sense to state this explicitly, it helps understanding this much easier for people that do not speak tls natively.

It's stated here:

https://github.com/cfrg/draft-irtf-cfrg-opaque/blob/master/draft-irtf-cfrg-opaque.md#protocol-messages-protocol-messages

Would an example section be more helpful? (I agree it's not obvious without that prior context!)

yeah i noticed that, but i have not anticipated the implicit consequences of that. the notation that is below as examples looks kinda self-explaining - except for the parts that are not explicitly spelled out...
maybe  an example section would be more helpful, or alternatively an explicit spelled out part that explains what is not obvious from the defintions below.

sorry , clicked on the wrong button.

To help craft that section, could you please list the notation that you do find confusing? I can then try to clarify. 

after reading section 3 of RFC8446, i'd say the length of the field being implicit in that notation should be definitely 
noted, and what i also learned, that in the struct `opaque` is the "type" of the value and in no way related to the protocol being specified, that is also kinda confusing in retrospect. otherwise i think enums and structs do not have hidden semantics, and as far as i see variants are not used. so i guess that's then these two things lengths of arrays and the type `opaque` as a special mention that this is a type and a name collision only.

uh, i see that variants are used in the ProtocolMessage struct.

> after reading section 3 of RFC8446, i'd say the length of the field being implicit in that notation should be definitely
noted, and what i also learned, that in the struct opaque is the "type" of the value and in no way related to the protocol being specified, that is also kinda confusing in retrospect. otherwise i think enums and structs do not have hidden semantics, and as far as i see variants are not used. so i guess that's then these two things lengths of arrays and the type opaque as a special mention that this is a type and a name collision only.

Okay, thanks! I'll try to clarify these things.

> uh, i see that variants are used in the ProtocolMessage struct.

Is there a question hidden in here?


> > uh, i see that variants are used in the ProtocolMessage struct.
> 
> Is there a question hidden in here?

well yes, i first thought that variants are not used in the OPAQUE draft, only later i saw it, so the semantics of variants are quite understandable, but might also deserve mention in the clarifying section.


I believe we can close this out now, given the recent changes to the envelope structure which ensure that there is only one variable-length field:

```
struct {
  InnerEnvelopeMode mode;
  opaque nonce[32];
  opaque encrypted_creds<1..2^16-1>;
} InnerEnvelope;

struct {
  InnerEnvelope contents;
  opaque auth_tag[Nh];
} Envelope;
```