Clarification on how to serialize CleartextCredentials

Hi, I'm trying to create a `C` implementation and one particular step was very unclear to me. It was how to serialize the `CleartextCredentials` struct. I only discovered how to serialize the strings looking at the `poc` code.

I'm willing to provide notes around it if you think it's something useful, just let me know.

We already note this:

> All protocol messages and structures defined in this document use the syntax from [RFC8446], Section 3.

I'm happy to consider further clarifying suggestions, but I think this is sufficient. @aldenml please feel free to make a proposal!

It was lack of familiarity with RFC8446 on my part :)